html,
body {
  margin: 0;
  padding: 0;
}

 button {
  background-color: rgb(224, 71, 71);
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  margin-top: 10px;
}

pre {
  letter-spacing:1px;
}

.btncolor {
  background-color: rgb(55, 156, 55);
}

.textSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.pixelSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.textSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #c73a30;
  cursor: pointer;
}

.pixelSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #348cd4;
  cursor: pointer;
}

.textSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #c73a30;
  cursor: pointer;
}

.pixelSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #348cd4;
  cursor: pointer;
}