html,
body {
  margin: 0;
  padding: 0;
}

 button {
  background-color: rgb(224, 71, 71);
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  margin-top: 10px;
}

pre {
  letter-spacing:1px;
}

.btncolor {
  background-color: rgb(55, 156, 55);
}

.textSlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 5px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.pixelSlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.textSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  background: #c73a30; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.pixelSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  background: #348cd4; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.textSlider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  background: #c73a30; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.pixelSlider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  background: #348cd4; /* Green background */
  cursor: pointer; /* Cursor on hover */
}